@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Poppins:ital,wght@0,100;0,200;0,500;0,600;1,100;1,600&family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Poppins:ital,wght@0,100;0,200;0,500;0,600;0,700;1,100;1,600&family=Work+Sans&display=swap');

:root {
    --main-app-color: rgb(4, 14, 7);
    --main-app-color-tr: rgba(4, 14, 7, 0.479);
    --main-app-color-tr-gr: rgba(30, 94, 49, 0.479);
}

div#header-div {
    box-sizing: border-box;

    background-image: linear-gradient(var(--main-app-color), transparent);
    width: 100%;
    height: 300px;
    padding: 20px 80px;

    font-family: Poppins, sans-serif;
    font-weight: bold;
    font-size: 20px;
}

header div h1 {
    display: inline;
    margin-left: -25px;
}

ul {
    list-style-type: none;
}

header img {
    display: block;
    width: 100%;
    min-height: 100px;
    position: absolute;
    top: -50px;
    z-index: -5;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul {
    display: flex;
    gap: 50px;
    margin-right: 0px;
    margin-left: auto;
    margin-top: -50px;

}

nav ul li {
    display: inline;
}

nav ul li Link {
    color: rgb(216, 238, 216);
}

footer {
    position: fixed;
    bottom: 0;


    padding: 3px 0px;
    background-color: var(--main-app-color);
    color: white;

    display: flex;
    align-items: center;
    justify-content: space-around;

    width: 100%;
}

footer ul {
    display: flex;
    gap: 650px;
    margin-right: 0;
    margin-left: 0;
    padding-right: 0;
    padding-left: 0;
}

footer ul li {
    display: inline;
}

main {
    text-align: center;
    margin-bottom: 150px;
}

section#home {
    font-size: 50px;
    color: var(--main-app-color);
    margin-top: 100px;
}

form {
    text-align: left;
    background-color: white;
    margin-top: -100px;
    display: inline-block;
    box-shadow: 0px 0px 50px 15px var(--main-app-color);
    border-radius: 25px;
    padding: 10px 55px 10px 50px;
}

section#section-form {
    background-color: white;
    display: inline-block;
    padding: 10px 55px 60px 65px;

    border: 1px solid red;
}

form div h1,
form div p {
    text-align: center;
}



input {
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    padding: 5px;
}

.btn,
.submit {
    display: inline-block;
    border: none;
    background-color: var(--main-app-color-tr);
    padding: 10px 30px;
    border-radius: 100px;
    cursor: pointer;
    font-size: 16px;
    letter-spacing: 2px;
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
}

ul {
    list-style-type: none;
}

#pets-page h1,
#addoptions-user-page h1 {
    position: absolute;
    left: 50%;
    top: 65px;
    transform: translate(-50%);
    color: white;
    font-size: 60px;

    padding: 20px 50px;
    background-color: var(--main-app-color-tr);
    border-radius: 500px;

}


#pets-page ul {
    margin: 0px 100px;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}

#pet-card {
    width: 300px;
    height: 450px;
    display: inline-block;
    border: none;
    border-radius: 30px;
    background-color: var(--main-app-color-tr-gr);
    color: white;

    position: relative;
}

#pet-card h3,
#pet-details h3 {
    font-size: 30px;
    margin: 0;
    padding-top: 10px;
}

img.pet-card {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;

    margin-top: 20px;

}

div.for-link {
    cursor: pointer;
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translate(-50%);
    width: 80px;
    padding: 5px 20px;
    background-color: var(--main-app-color-tr);
    border-radius: 50px;
}


#pet-details {
    position: absolute;
    left: 50%;
    bottom: 150px;
    transform: translate(-50%);
    width: 500px;
    height: 650px;
    margin-top: 0px;
    border: none;
    border-radius: 30px;
    background-color: var(--main-app-color-tr-gr);
    color: white;
    font-size: 18px;
}



.image-wrap img#pet-details-img {
    margin-top: 20px;
    width: 450px;
    height: 350px;
    border-radius: 10px;


    object-fit: cover;
}

#delete-pet {
    margin-top: 150px;
}


#adopt-pet {
    position: absolute;
    left: 50%;
    bottom: 200px;
    transform: translate(-50%);
    width: 500px;
    height: 500px;
    margin-top: 0px;
    border: none;
    border-radius: 30px;
    background-color: var(--main-app-color-tr-gr);
    color: white;
    font-size: 18px;
}

img#adopt-pet-img {
    width: 300px;
    height: 300px;
    border-radius: 10px;


    object-fit: cover;
}


ul#pending-adoptions-ul,
ul#adoptions-aproved-ul,
ul#adoptions-denied-ul,
ul#adoptions-user-ul {
    display: flex;
    gap: 50px;
}

#adoptions-pending,
#adoptions-aproved,
#adoptions-denied,
#adoptions-user {
    width: 230px;
    height: 350px;
    display: inline-block;
    border: none;
    border-radius: 30px;
    background-color: var(--main-app-color-tr-gr);
    color: white;
    line-height: 12px;
}

#adoptions-denied {
    background-color: rgba(255, 0, 0, 0.603);
}

#adoptions-user {
    height: 400px;
}

img#adoptions-pending-img,
img#adoptions-aproved-img,
img#adoptions-denied-img,
img#adoptions-user-img {
    width: 200px;
    height: 200px;
    margin-top: 10px;
    border-radius: 20px;


    object-fit: cover;
}

button.p-a {
    margin: 0px 5px;
    padding: 5px 15px;
}

button.reject {
    background-color: rgba(255, 0, 0, 0.616);
}

#adoption-status {
    font-size: 24px;
}

.Pending {
    color: gray;
}

.Adopted {
    color: green
}

.Denied {
    color: red;
}

.donations {

}

.donations-div {
    display: block;
    border-radius: 500px;
    width: 100%;
    padding: 0px 20px;
    background-color: var(--main-app-color-tr-gr);
    margin: -15px;
}

.donations-li {
    font-size: 24px;
    color: white;
}